// Here you can add other styles
// Header
.app-header {
  //   box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
  border-bottom: 1px solid #e9ecef !important;
}

.dropdown-menu-right {
  right: auto !important;
  -webkit-animation: show-navbar-dropdown .25s ease forwards !important;
  animation: show-navbar-dropdown .25s ease forwards !important;

}

.breadcrumb {
  border-bottom: 1px solid #e9ecef !important;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.dropdown-header {
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar:not(.navbar-nav-hover) .dropdown-menu.show {

  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  border: 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, .15);
  border-radius: .4375rem;
}

//sidebar 

.sidebar {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.main {
  background: #F8F9FE;
}

.app {
  background: #2DCEC1 !important;
}

//form styling
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 10px) !important;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group {
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02) !important;
}

.form-control:focus {
  color: #5c6873;
  background-color: #fff;
  border: none !important;
  outline: 0;
  box-shadow: none !important;
}

.btn-primary {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
}

// card
.card {
  border: none !important;
}

.card-body {
  background: #F7FAFC !important;
}

//  input form control 
.form-control-alternative {
  -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  -webkit-transition: -webkit-box-shadow .15s ease;
  transition: -webkit-box-shadow .15s ease;
  transition: box-shadow .15s ease;
  transition: box-shadow .15s ease, -webkit-box-shadow .15s ease;
}

.focused .form-control {
  border-color: rgba(50, 151, 211, 0.25);
}

.form-control-alternative:focus {
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}

label {
  color: #525f7f !important;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
}
.vdatetime-input{
  border: 0!important;
    width: 100%!important;
}
.textarea{
  height: auto!important;
}